* {
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  #main-logo {
    background: url('../images/rwd-main-logo-450x236.png') no-repeat;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  #main-logo {
    background: url('../images/rwd-main-logo-600x314.png') no-repeat;
  }
}

@media screen and (min-width: 1025px) {
  #main-logo {
    background: url('../images/rwd-main-logo-1200x628.png') no-repeat;
  }
}

#main-logo {
  padding-bottom: 50%;
  background-size: contain;
}
