/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in your app */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Mobile */
@media screen and (max-width: 480px) {
	#main-logo {
		background: url('./images/rwd-main-logo-450x236.png') no-repeat;
	}
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1024px) {
	#main-logo {
		background: url('./images/rwd-main-logo-600x314.png') no-repeat;
	}
}

/* Desktop */
@media screen and (min-width: 1025px) {
	#main-logo {
		background: url('./images/rwd-main-logo-1200x628.png') no-repeat;
	}
}

#main-logo {
}

#site-header {
	font-size: 7vw;
}

#main-header,
#section-two-header {
	font-size: 5vw;
}

p {
	font-size: 3vw;
}
