/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in your app */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Mobile */
@media screen and (max-width: 480px) {
	#main-logo {
		background: url('images/rwd-main-logo-450x236.png') no-repeat;
		max-width: 100%;
	}

	#site-header {
		font-size: 2.4em;
	}

	#main-header,
	#section-two-header {
		font-size: 1.9em;
	}

	p {
		font-size: 14.5px;
	}
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1024px) {
	#main-logo {
		background: url('images/rwd-main-logo-600x314.png') no-repeat;
		max-width: 100%;
	}

	#site-header {
		font-size: 2.4em;
	}

	#main-header,
	#section-two-header {
		font-size: 1.9em;
	}

	p {
		font-size: 14.5px;
	}
}

/* Desktop */
@media screen and (min-width: 1025px) {
	#main-logo {
		background: url('images/rwd-main-logo-1200x628.png') no-repeat;
		max-width: 100%;
	}

	#site-header {
		font-size: 4vw;
	}

	#main-header,
	#section-two-header {
		font-size: 3vw;
	}

	p {
		font-size: 1.4vw;
	}
}

#main-logo {
	padding-bottom: 56.25%;
	background-size: contain;
}

#happy-kitty-image {
	max-width: 100%;
}
