/**** START html, body, and box-sizing ****/
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in your app */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #ff7e02;
}
/**** END html, body, and box-sizing ****/

/* Responsive image styling */
img {
	/* max-width: 100% - Allows image to become smaller, but not larger than it's original size */
	max-width: 100%;
	/* object-fit: contain - Resizes image to fit container, while maintaining aspect ratio */
	object-fit: contain;
}
