/**** START html, body, and box-sizing ****/
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in your app */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #ff7e02;
}
/**** END html, body, and box-sizing ****/

/* Responsive image styling */
img {
	/* max-width: 100% - Allows image to become smaller, but not larger than it's original size */
	max-width: 100%;
	/* object-fit: contain - Resizes image to fit container, while maintaining aspect ratio */
	object-fit: contain;
}

.container {
	display: grid;
	grid-template-columns: 0.5fr 2.2fr 0.3fr;
	grid-template-rows: 10% 80% 10%;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas:
		'Logo Header Profile'
		'Nav Main Main'
		'Footer Footer Footer';
	height: 100vh;
	width: 100vw;
}
