/**** START html, body, and box-sizing ****/
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in your app */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #ff7e02;
}
/**** END html, body, and box-sizing ****/
