/* Main - Row 2, Column 2 + 3 */
.Main {
	grid-area: Main;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.Main::-webkit-scrollbar {
	display: none;
}

/**** START Sub-Grid for main content - Desktop (3 Rows, 4 Columns) ****/
.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3px 3px;
	grid-auto-flow: row;
	grid-template-areas:
		'image-1 image-2 image-3 image-4'
		'image-5 image-6 image-7 image-8'
		'image-9 image-10 image-11 image-12';
	padding: 20px;
	height: 100%;
}

.image-1 {
	grid-area: image-1;
}
.image-2 {
	grid-area: image-2;
}
.image-3 {
	grid-area: image-3;
}
.image-4 {
	grid-area: image-4;
}
.image-5 {
	grid-area: image-5;
}
.image-6 {
	grid-area: image-6;
}
.image-7 {
	grid-area: image-7;
}
.image-8 {
	grid-area: image-8;
}
.image-9 {
	grid-area: image-9;
}
.image-10 {
	grid-area: image-10;
}
.image-11 {
	grid-area: image-11;
}
.image-12 {
	grid-area: image-12;
}

div[class^='image-'] {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
/**** END Sub-Grid for main content - Desktop (3 Rows, 4 Columns) ****/

/**** START Sub-Grid for main content - Smaller Desktop (4 Rows, 3 Columns) ****/
@media screen and (max-width: 1400px) and (min-width: 1000px) {
	.gallery-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 3px 3px;
		grid-auto-flow: row;
		grid-template-areas:
			'image-1 image-2 image-3'
			'image-4 image-5 image-6'
			'image-7 image-8 image-9'
			'image-10 image-11 image-12';
	}
}
/**** END Sub-Grid for main content - Smaller Desktop (4 Rows, 3 Columns) ****/

/**** START Sub-Grid for main content - Tablet (6 Rows, 2 Columns) ****/
@media screen and (max-width: 1000px) {
	.gallery-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 3px 3px;
		grid-auto-flow: row;
		grid-template-areas:
			'image-1 image-2'
			'image-3 image-4'
			'image-5 image-6'
			'image-7 image-8'
			'image-9 image-10'
			'image-11 image-12';
	}
}
/**** END Sub-Grid for main content - Tablet (6 Rows, 2 Columns) ****/

/**** START Sub-Grid for main content - Mobile (12 Rows) ****/
@media screen and (max-width: 800px) {
	.gallery-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 3px 3px;
		grid-auto-flow: row;
		grid-template-areas:
			'image-1'
			'image-2'
			'image-3'
			'image-4'
			'image-5'
			'image-6'
			'image-7'
			'image-8'
			'image-9'
			'image-10'
			'image-11'
			'image-12';
	}
}
/**** END Sub-Grid for main content - Mobile (12 Rows) ****/
