/**** START link styling ****/
a {
	color: #fff102;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:visited:hover {
	color: #fff102;
	text-decoration: underline;
}

a:visited {
	color: black;
}
/**** END link styling ****/

/* Nav - Row 2, Column 1 */
.Nav {
	grid-area: Nav;
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	font-size: 3.5em;
	font-family: 'Saiyan Sans';
	justify-content: space-around;
}

.Nav > a {
	text-align: center;
}
