.Nav {
	grid-area: Nav;
	display: flex;
	flex-direction: column;
	font-size: 3.5em;
	justify-content: space-evenly;
	padding: 20px 20px;
	font-family: 'Saiyan Sans', sans-serif;
}

/**** START link styling ****/
a {
	color: #fff102;
	text-decoration: none;
	text-align: center;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:visited:hover {
	color: #fff102;
	text-decoration: underline;
}

a:visited {
	color: black;
}
/**** END link styling ****/
