html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

#happy-kitty-image {
	max-width: 100%;
}

#nav-links {
	display: flex;
	justify-content: space-around;
	font-size: 1.4em;
	padding-top: 10px;
}

/* Mobile */
@media screen and (max-width: 480px) {
	#main-logo {
		background: url('./images/rwd-main-logo-450x236.png') no-repeat;
	}

	#nav-links {
		flex-direction: column;
		align-items: center;
	}

	#nav-links > a {
		padding: 10px 0;
	}

	#nav-links > a:last-child {
		padding-bottom: 100px;
	}
}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1024px) {
	#main-logo {
		background: url('./images/rwd-main-logo-600x314.png') no-repeat;
	}
}

/* Desktop */
@media screen and (min-width: 1025px) {
	#main-logo {
		background: url('./images/rwd-main-logo-1200x628.png') no-repeat;
	}
}

#main-logo {
	max-width: 100%;
	padding-bottom: 50%;
	background-size: contain;
}

#nav-links,
#section-one,
#section-two,
header {
	max-width: 80%;
	margin: 0 auto;
}

#main-header,
#section-one-header,
#section-two-header,
header {
	text-align: center;
}

#site-header {
	font-size: 2.5em;
}

article {
	padding-top: 10px;
}
